<% include ../partials/header %>
    <h3>Graphs</h3>

    <div class="alert alert-warning" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <small>The data visualized on this page includes transactions processed up to 5 seconds before the last refresh.</small>
    </div>
    The following map shows the distribution of transactions according to their country of origin.

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div class="row">
        <div id="map" style="width: 900px; height: 500px"></div>
    </div>
    <div class="row">
        <div class="col">
            Percentage of origin currencies
            <div id="currency-from"></div>
        </div>
        <div class="col">
            Percentage of target currencies
            <div id="currency-to"></div>
        </div>
    </div>

    <script>
        google.charts.load("current", { packages: ['corechart', 'geochart'], 'callback': drawCharts });

        function drawCharts() {
            $.getJSON('/api/stat/country', drawRegionsMap);
            $.getJSON('/api/stat/currencyfrom', drawCurrencyPie);
            $.getJSON('/api/stat/currencyto', drawCurrencyPie1);

            function drawCurrencyPie(res) {
                commonDrawPie(res, 'currency-from');
            }

            function drawCurrencyPie1(res) {
                commonDrawPie(res, 'currency-to');
            }

            function commonDrawPie(res, element) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Currency');
                data.addColumn('number', 'Count');
                data.addRows(Object.keys(res).map(
                    function (key) {
                        return [key, res[key]];
                    }));

                var options = {
                    'width': 600,
                    'height': 400
                };
                var chart = new google.visualization.PieChart(document.getElementById(element));
                chart.draw(data, options);
            }

            function drawRegionsMap(res) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Country');
                data.addColumn('number', 'Count');
                data.addRows(Object.keys(res).map(
                    function (key) {
                        return [key, res[key]];
                    }));
                var options = {};
                var chart = new google.visualization.GeoChart(document.getElementById('map'));
                chart.draw(data, options);
            }
        }
    </script>

    <% include ../partials/footer %>