<% include ../partials/header %>
    <h3>Submit a transaction</h3>
    Using the following form you can manually submit a single transaction.

    <div class="row">
        <div class="col-sm-10">
            <div class="alert alert-warning" role="alert" style="width: 40%">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <small>Note: form validation has not yet been implemented for lack of time.
                <br/> Note2: the fields are randomly populated for debug purposes.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form id="form">
                <div id="alert-succ" class="alert alert-success d-none" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Transaction successfully submitted!
                </div>
                <div id="alert-err" class="alert alert-danger d-none" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Error!
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">User Id</label>
                    <input id="userId" type="text" class="form-control" name="userId" placeholder="user id">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Currency from</label>
                    <select id="currencyFrom" class="form-control" name="currencyFrom">
                        <option>EUR</option>
                        <option>USD</option>
                        <option>GPB</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Currency to</label>
                    <select id="currencyTo" class="form-control" name="currencyTo">
                        <option>GPB</option>
                        <option>EUR</option>
                        <option>USD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Amout sold</label>
                    <input type="number" class="form-control" id="amountSell" name="amountSell" placeholder="0.0" step="0.01">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Amout bought</label>
                    <input type="number" class="form-control" id="amountBuy" name="amountBuy" placeholder="0.0" step="0.01">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Rate</label>
                    <input type="number" class="form-control" id="rate" name="rate" placeholder="0.0" step="0.01">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Country</label>
                    <select class="form-control" id="originatingCountry" name="originatingCountry">
                        <option value="IE">Ireland</option>
                        <option value="FR">France</option>
                        <option value="IT">Italy</option>
                        <option value="US">US</option>
                        <option value="CF">Central African Republic</option>
                    </select>
                </div>
                <button id="submit" type="button" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            // XXX filling the submit form for debugging purposes
            $("#userId").val(Math.random().toString(36).substring(7));
            $("#amountBuy").val((Math.random() * 10).toFixed(2));
            $("#amountSell").val((Math.random() * 10).toFixed(2));
            $("#rate").val((Math.random() * 10).toFixed(2));
            var options = $("#currencyFrom > option");
            options[Math.floor(Math.random() * options.length)].selected = true;
            options = $("#currencyTo > option");
            options[Math.floor(Math.random() * options.length)].selected = true;
            options = $("#originatingCountry > option");
            options[Math.floor(Math.random() * options.length)].selected = true;


            $("#submit").on('click', function () {
                //alert("sending " + $("#form").serialize());
                $.ajax({
                    url: '/api/txn',
                    type: "POST",
                    dataType: 'json',
                    data: $("#form").serialize(),
                    success: function (result) {
                        $("#alert-succ").removeClass("d-none");
                    },
                    error: function (xhr, resp, text) {
                        $("#alert-err").removeClass("d-none");
                        console.log(xhr, resp, text);
                    }
                })
            });
        });
    </script>

    <% include ../partials/footer %>